Specify filepatterns you want git to ignore.

Example:
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
.vs/
obj/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
packages/
.idea/
*.orig
node_modules/
TestResult*.xml

Deployment/DeployItems/DeployedFiles/
Deployment/DeployItems/DeployedPlugins/